$primaryColor: #312521;
$primaryColor_50: rgba(49, 37, 33, 0.2);
$hover_bg: rgba(147, 110, 98, 0.5);
$white_40: rgba(255, 255, 255, 0.4);
$white_60: rgba(255, 255, 255, 0.6);
$white_80: rgba(255, 255, 255, 0.8);
$white_100: #fff;
$footer:rgba(137, 143, 75, 0.8);

body{
    .container-fluid{
        #main_content{}
        #content{
            .container.product_list{
                padding: 5vw;
                margin-top: 30px;
                .row{
                    .col-md-12{
                        backdrop-filter: blur(5px);
                        background-color: $primaryColor_50;
                        border-radius: 15px;
                        .row.text-center{
                            .card{
                                margin: 1vw;
                                img{
                                    background-color: transparent; /* 預設背景顏色為透明 */
                                    transition: background-color 0.7s ease; /* 平滑過渡效果 */
                                    border-radius: 0 0 50% 50% / 0 0 25% 25% ;
                                    &:hover{
                                        background-color: $footer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}