@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
body .container-fluid #main_content {
  height: 8vh;
}
body .container-fluid #main_content .row.logo.login {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
body .container-fluid #main_content .row.logo.login .col-lg-10.logo {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  padding: 10px;
}
body .container-fluid #main_content .row.logo.login .col-lg-10.logo span {
  padding-left: 15px;
}
body .container-fluid #main_content .row.logo.login .col-lg-10.logo span a {
  text-decoration: none;
  color: #312521;
}
body .container-fluid #main_content .row.logo.login .col-lg-2.login {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
body .container-fluid #main_content .row.logo.login .col-lg-2.login p {
  margin-top: 5px;
}
body .container-fluid #main_content .row.logo.login .col-lg-2.login p .sign {
  text-decoration: none;
  color: #312521;
  padding: 10px;
  font-weight: bold;
  background-color: rgba(49, 37, 33, 0.2);
  border-radius: 20px;
}
body .container-fluid #main_content .row.logo.login .col-lg-2.login p .sign:hover {
  transform: translateY(5px);
  color: #fff;
  background-color: rgba(147, 110, 98, 0.5);
  transition: all 0.3s ease;
}
body .container-fluid #main_content .row.nav {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: 0 20px;
}
body .container-fluid #main_content .row.nav .navbar {
  z-index: 1;
}
body .container-fluid #main_content .row.nav .navbar .container-fluid a {
  margin: 0 10px;
}
body .container-fluid #main_content .row.nav .navbar .container-fluid a:hover {
  transform: translateY(5px);
  text-decoration: underline;
  background-color: rgba(147, 110, 98, 0.5);
  border-radius: 15px;
  transition: transform 0.3s ease;
}
body .container-fluid #main_content .row.nav .navbar .container-fluid a i {
  font-size: 1.5rem;
}
body .container-fluid #main_content #content {
  margin-top: 15vh;
}
body .container-fluid #main_content #content .row.lesson .card {
  border: none;
  margin-top: 20px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .container-fluid #main_content #content .row.lesson .card img {
  width: 80vw;
}
body .container-fluid #main_content #content .row.lesson .card .card-img-overlay.text_flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}
body .container-fluid #main_content #content .row.lesson .card .card-img-overlay.text_flex h5 {
  font-size: 2.5vw;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3333333333);
}
body .container-fluid #main_content #content .row.lesson .card .card-img-overlay.text_flex p {
  font-size: 1.8vw;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3333333333);
}
body .container-fluid #main_content #content .news .carousel .carousel-inner .carousel-item img {
  margin: 0 auto;
  margin-top: 80px;
  width: 70vw;
}
body .container-fluid #main_content #recommendation .row.recommendation {
  margin-top: 80px;
  background-color: rgba(255, 255, 255, 0.4);
  height: 45vh;
  display: flex;
  align-items: center;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 {
  height: 40vh;
  display: flex;
  justify-content: center;
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 input {
  display: none;
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 input:checked + label {
  width: 600px;
  opacity: 1 !important;
  transform: translateY(0) !important;
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 .reco-card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 .reco-card .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 .reco-card .row .icon {
  background: rgba(51, 51, 51, 0.4);
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  align-self: flex-end;
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 .reco-card .row .description {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
  font-size: 1.8rem;
  margin-bottom: 5px;
  opacity: 1 !important;
  transform: translateY(0) !important;
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 .reco-card .row .description p {
  color: #d097d6;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 90%;
  font-size: 1.2rem;
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 .reco-card[for=c1] {
  background-image: url(https://globalassets.starbucks.com/digitalassets/products/bev/SBX20211210_CaramelRibbonCrunchFrapp.jpg?impolicy=1by1_tight_288);
  /* background-color: saddlebrown; */
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 .reco-card[for=c2] {
  background-image: url(https://www.starbucks.com.tw/common/objects/images/product/20220627180140248.jpg);
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 .reco-card[for=c3] {
  background-image: url(https://www.starbucks.com.tw/common/objects/images/product/20210930154641836.jpg);
}
body .container-fluid #main_content #recommendation .row.recommendation .col-md-12 .reco-card[for=c4] {
  background-image: url(https://www.starbucks.com.tw/common/objects/images/product/20240708105712546.jpg);
}
body .container-fluid #main_content #footer {
  margin-top: 10vh;
  border-radius: 15px 15px 0 0;
  color: #312521;
  background-color: rgba(137, 143, 75, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 30px;
}
body .container-fluid #main_content #footer .row .col-md-12 {
  color: #fff;
}/*# sourceMappingURL=style.css.map */